.rules-documents {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 50px 0;

    .rules-documents-heading {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1 {
            font-family: Inter;
            font-weight: 700;
            font-style: Bold;
            font-size: 36px;
            line-height: 40px;
            color: #2563EB;
        }

        p {
            font-family: Inter;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 28px;
            color: #64748B;
        }
    }

    .school-rules {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .rules-icon {
            color: #020817;
        }

        .rules-left {
            width: 100%;
            height: auto;
            padding: 25px 22px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            border-radius: 16px;
            border: 1px solid #DBEAFE;
            background: #FFF;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

            .rules-left-heading {
                h3 {
                    display: flex;
                    gap: 8px;
                    font-family: Inter;
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: -0.6px;
                    vertical-align: middle;
                    color: #2563EB;
                }
            }

            .rules-left-details {
                display: flex;
                flex-direction: column;
                gap: 1;
                height: 100%;

                summary {
                    width: 100%;
                    height: auto;
                    padding: 15px 10px;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: transparent;
                    cursor: pointer;
                    border-bottom: 1px solid #DBEAFE;

                    p {
                        font-family: Inter;
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 18px;
                        line-height: 28px;
                        text-align: left;
                        vertical-align: middle;
                        color: #020817;
                    }
                }

                .detail {
                    width: 100%;
                    height: auto;
                    padding: 10px 10px;
                    border-bottom: 1px solid #DBEAFE;
                    background-color: rgba(0, 255, 145, 0.082);

                    p {
                        font-family: Inter;
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 16px;
                        line-height: 28px;
                        vertical-align: middle;
                        color: #64748B;
                    }
                }
            }
        }

        .rules-right {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            max-width: 384px;
            height: 100%;
            padding: 25px;
            border-radius: 16px;
            border: 1px solid #DBEAFE;
            background: #FFF;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);


            .rules-right-heading {
                h3 {
                    display: flex;
                    gap: 8px;
                    font-family: Inter;
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: -0.6px;
                    vertical-align: middle;
                    color: #2563EB;
                }
            }

            .rules-main {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .school-times {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    h4 {
                        font-family: Inter;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 16px;
                        line-height: 24px;
                        color: #020817;
                    }

                    p {
                        font-family: Inter;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 24px;
                        color: #64748B;
                    }
                }
            }
        }
    }

    .school-documents {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .documents-heading {
            h3 {
                font-family: Inter;
                font-weight: 700;
                font-style: Bold;
                font-size: 30px;
                line-height: 36px;
                color: #020817;
            }
        }

        .documents-boxes {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .documents-left {
                display: grid;
                gap: 24px;
                grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));

                @media (max-width: 450px) {
                    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
                }

                .documents-box {
                    width: 100%;
                    height: auto;
                    display: flex;
                    overflow: hidden;
                    gap: 14px;
                    padding: 20px;
                    border-radius: 16px;
                    border: 1px solid #DBEAFE;
                    background: #FFF;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

                    .doc-box-icon {
                        .icon-doc {
                            width: 56px;
                            height: 56px;
                            border-radius: 16px;
                            background: #DBEAFE;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #2563EB;
                        }
                    }

                    .doc-right {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        width: 100%;

                        .doc-right-name {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            padding: 0 20px 0 0;
                            max-width: 300px;

                            h4,
                            p {
                                word-wrap: break-word;
                                overflow: break-word;
                            }

                            h4 {
                                font-family: Inter;
                                font-weight: 700;
                                font-style: Bold;
                                font-size: 18px;
                                line-height: 28px;
                                color: #020817;
                            }

                            p {
                                font-family: Inter;
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 14px;
                                line-height: 20px;
                                color: #64748B;
                            }
                        }

                        .doc-downlowad {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .doc-size {
                                font-family: Inter;
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 12px;
                                line-height: 16px;
                                color: #64748B;
                            }

                            button {
                                cursor: pointer;
                                width: auto;
                                height: auto;
                                padding: 5px 15px;
                                display: flex;
                                gap: 12px;
                                align-items: center;
                                border-radius: 9999px;
                                border: 1px solid #E2E8F0;
                                background: #FFF;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}