.rules-top {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 52px;
}

.rules-top h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: var(--blue);
}

.rules-top p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--kulren)
}

.school-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
}

.school-rules {
    width: 100%;
    border-radius: 16px;
    background-color: white;
    padding: 25px;
    max-width: 800px;
    border: 1px solid #DBEAFE;
}

.school-rules h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: var(--blue);
    margin-bottom: 24px;
    display: flex;
    gap: 8px;
}


.accordion-item {
    border-bottom: 1px solid #DBEAFE;
}

.accordion-item button {
    width: 100%;
    background: none;
    border: none;
    padding: 20px 0;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    padding: 4px 0 12px 0;
    font-size: 13px;
    color: #555;
}

.arrow {
    transition: transform 0.2s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.school-hours {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: white;
    border-radius: 16px;
    padding: 25px;
    border: 1px solid #DBEAFE;

}

.school-hours h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: var(--blue);
    display: flex;
    gap: 8px;
}


.school-hours h3 img {
    width: 24px;
    height: 24px;
}

.s-hours-titles {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.s-hours-p {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.s-hours-p h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.s-hours-p p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--kulren);
}



.school-documents {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.school-documents{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 54px;
}

.school-d-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.school-d-card {
    display: flex;
    gap: 16px;
    padding: 25px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #DBEAFE;
}

.s-d-card-d {
    width: 56px;
    height: 56px;
    padding: 12px;
    background-color: #DBEAFE;
    border-radius: 16px;
}

.s-d-card-right {
    width: 100%;
}

.s-d-card-right h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 4px;
}

.s-d-card-right p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--kulren);
    margin-bottom: 12px;
}

.s-d-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-d-card-bottom h5 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--kulren);
}

.s-d-card-bottom button {
    display: flex;
    padding: 8px 12px;
    border: 1px solid #E2E8F0;
    background-color: white;
    border-radius: 9999px;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.s-d-card-bottom img {
    width: 16px;
}


@media (min-width: 768px) {
    .school-content {
        flex-direction: row;
        gap: 16px;
    }

    .school-d-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    }

    .school-documents{
        margin-bottom: 101px;
    }
}

@media (min-width: 1024px) {
    .school-content {
        gap: 32px;
    }

    .school-hours {
        height: 100%;
        min-width: 384px;
    }

    .school-content {
        height: auto;
    }rules-stack

    .school-d-cards {
        grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    }

    .school-documents{
        margin-bottom: 129px;
    }
}

