.gallery-dark.dark {
  background: #0F172A;
}

.gallery-dark.dark .gallery-heading h2 {
  color: #F1F5F9;
}

.gallery-dark.dark .gallery-heading p {
  color: #CBD5E1;
}

.gallery-dark.dark .gallery-main img {
  opacity: 70%;
}

.gallery-dark.dark .back-btn {
  color: #F1F5F9;
}

.gallery {
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  gap: 48px;
}

.gallery .gallery-heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gallery .gallery-heading h2 {
  color: #111827;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.gallery .gallery-heading p {
  color: #4B5563;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}


.gallery-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  gap: 16px;
  justify-items: center;
}

.album-photos {
  width: 100%;
  position: relative;
}

.album-img-wrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.album-img-wrapper img {
  width: 100%;
  height: 214.5px;
  object-fit: cover;
  border-radius: 16px;
  transition: 0.3s;
}

.see-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.album-img-wrapper:hover img {
  filter: brightness(60%);
  transform: scale(1.05);
}

.album-img-wrapper:hover .see-all {
  opacity: 1;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #020817;
}


.see-gallery-photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.photo-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.photo-wrapper img {
  width: 100%;
  height: 192px;
  object-fit: cover;
  border-radius: 16px;
  transition: 0.3s;
}

.photo-wrapper:hover img {
  transform: scale(1.05);
  filter: brightness(80%);
}


@media (max-width: 768px) {
  .see-gallery-photos {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .photo-wrapper img {
    height: 160px;
  }

  .gallery-main {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .album-img-wrapper img {
    height: 180px;
  }
}

@media (max-width: 480px) {
  .gallery-main {
    grid-template-columns: 1fr;
  }

  .album-img-wrapper img {
    height: 160px;
  }

  .see-gallery-photos {
    grid-template-columns: 1fr;
  }

  .photo-wrapper img {
    height: 140px;
  }
}