.school-news {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 60px 0;

  .m_e615b15f {
    min-height: 405px;
  }

  .school-news-headline {
      display: flex;
      flex-direction: column;
      gap: 16px;

      h1 {
          font-family: Inter;
          font-weight: 700;
          font-style: Bold;
          font-size: 36px;
          line-height: 40px;
          color: #2563EB;
      }

      p {
          font-family: Inter;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #64748B;
      }
  }
}

.read-news {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0;

  .news-main {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1 {
          color: #020817;
          font-family: Inter;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px;
      }

      p {
          color: #020817;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
      }

      .data-author {
          color: #64748B;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
      }
  }
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #020817;
}



.read-news {
    .news-main {
      .extra-images {
        display: flex;
        gap: 15px;
        margin-top: 20px;
  
        .extra-img {
          max-width: 100%;
          height: 300px;
          overflow: hidden;
          border-radius: 8px;
          cursor: pointer;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
          }
  
          &:hover img {
            transform: scale(1.05);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
  

