.school-news {
    display: flex;
    flex-direction: column;
}

.school-news-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: var(--blue);
    margin-bottom: 19px;
}

.school-news-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--kulren);
    margin-bottom: 32px;
}

.news-search {
    display: flex;
    align-items: center;
    border: 1px solid #E2E8F0;
    border-radius: 9999px;
    padding: 11px 12px;
    background-color: white;
    width: 100%;
    max-width: 384px;
    margin-bottom: 32px;
}

.news-search img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    opacity: 0.5;
}

.news-search input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: var(--kulren);
    width: 100%;

}

.s-news-cards {
    display: grid;
    flex-direction: column;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(348px, 2fr));
}

.s-news-card {
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    max-height: 454px;
    border: 1px solid #DBEAFE;
}

.s-n-card-content {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.s-n-card-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--kulren);
    letter-spacing: -0.6px;
    margin-bottom: 24px;
}

.s-n-card-content h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-bottom: 6px;
}

.s-n-card-content h5 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--kulren);
    margin-bottom: 14px;
}



.s-n-card-content a{
    display: flex;
    align-items: center;
    color: var(--blue); 
    text-decoration: none;
    gap: 5px;
    width: 127px;
}

.news-img-first {
    width: 100%;
    height: 192px;
    object-fit: cover;
    object-position: center;
}


@media (max-width: 374px) {
    .s-news-cards {
        grid-template-columns: repeat(auto-fit, minmax(330px, 2fr));
    }
}