.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9FAFB;
}

header{
  background-color: #F9FAFB;
}

/* Default Light */
body[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #000;
}

/* Dark */
body[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #fff;
}

.dark-theme{
  display: flex;
  width: 40px;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
}


.navbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-left span {
  font-size: 20px;
  font-weight: 700;
}

.logo {
  padding: 8px 8px;
  background-color: #2563EB;
  border-radius: 12px;
  color: white;
  font-size: 18px;
}

.burger-btn {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 11.5px;
}

.burger-btn img {
  width: 16;
  height: 16;
  display: flex;
  top: 12px;
  left: 12px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}


.navbar-right img {
  padding: 11.5px;
}

.navbar-right button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-right .nav-call {
  background-color: #2563EB;
  padding: 10px 16px;
  border-radius: 9999px;
  color: white;
  font-size: 14px;
  white-space: nowrap;
}



.lang-selector {
  display: flex;
  gap: 4px;
}

.nav-sun{
  display: flex;
}

.lang-selector img {
  padding: 0;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 69px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 16px 0;
  z-index: 99;
  list-style: none;
  margin: 0 25px;
  gap: 23px;
}

.nav-links.open {
  display: flex;
}

.nav-links li a {
  text-decoration: none;
  color: #4B5563;
  font-weight: 500;
  font-size: 14px;
}

.nav-item {
  position: relative;
  padding-bottom: 4px;

}

.nav-item.active {
  color: #2563EB;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #2563EB;
  border-radius: 9999px;
}

.nav-item::after {
  transition: 0.3s ease;
  width: 0;
}

.nav-item:hover::after {
  width: 100%;
}


@media (min-width: 1280px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    box-shadow: none;
    background: none;
    transform: translateY(2px);
  }

  .nav-links li a {
    display: flex;

  }

  .burger-btn {
    display: none;
  }

  .navbar-left span {
    font-size: 24px;
  }

  .navbar-right {
    gap: 24px;
  }

}

@media (max-width: 645px) {
  .navbar-left span {
    display: none;
  }

  .navbar-right {
    gap: 8px;
  }


  .nav-call {
    display: none;
  }

  .navbar-right p {
    display: none;
  }

  .nav-links {
    display: none;
  }

}

@media (max-width: 1279px) {
  .nav-item {
    margin: 100px;
  }

  .nav-links {
    margin: 0;
  }
}

@media (min-width: 646px) and (max-width: 1118px) {
  .nav-links {
    gap: 16px;
    margin: 0 auto;
  }



  .navbar-right {
    gap: 12px !important;
  }
}