.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-left span {
  font-size: 20px;
  font-weight: 700;
}

.logo{
  padding: 5px 7px;
  background-color:#2563EB
}

.burger-btn {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 11.5px;
}

.burger-btn img {
  width: 16;
  height: 16;
  display: flex;
  top: 12px;
  left: 12px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-search {
  padding-top: 3px;
}

.navbar-right img {
  padding: 11.5px;
}

.navbar-right button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-right .nav-call {
  background-color: #2563EB;
  padding: 10px 32px;
  border-radius: 9999px;
  color: white;
}

.lang-selector {
  display: flex;
  gap: 4px;
}

.lang-selector img {
  padding: 0;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 69px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 16px 0;
  z-index: 99;
  list-style: none;
  margin: 0 64px;
  gap: 26px;
}

.nav-links.open {
  display: flex;
}

.nav-links li a {
  text-decoration: none;
  color: #4B5563;
  font-weight: 500;
  font-size: 14px;
}

.nav-item {
  position: relative;
  padding-bottom: 4px;
}

.nav-item.active {
  color: #2563EB;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #2563EB;
  border-radius: 9999px;
}

.nav-item::after {
  transition:  0.3s ease;
  width: 0;
}

.nav-item:hover::after {
  width: 100%;
}


@media (min-width: 1280px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    box-shadow: none;
    background: none;
  }

  .nav-links li a {
    display: flex;

  }

  .burger-btn {
    display: none;
  }

  .navbar-left span {
    font-size: 24px;
  }

  .navbar-right {
    gap: 24px;
  }

}


@media (max-width: 645px) {
  .navbar-left span {
    display: none;
  }

  .navbar-right {
    gap: 8px;
  }

  .nav-search {
    display: none;
  }

  .nav-call {
    display: none;
  }

  .navbar-right p {
    display: none;
  }

  .nav-links {
    display: none;
  }

}

@media (min-width: 646px) and (max-width: 1118px) {
  .nav-links {
    gap: 16px;
    margin: 0 14px;
  }

  

  .navbar-right {
    gap: 12px !important;
  }
}